* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    float: right;
    cursor: pointer;
}

i:hover {
    color: red;
}

li:hover {
    background-color: aqua;
}

.strike {
    text-decoration: line-through;
}