* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 200px auto;
    padding: 50px 0;
    background-color: rgb(241, 241, 137);
}

/* Header */


/* Main */
i {
    float: right;
    cursor: pointer;
}

i:hover {
    color: rgb(192, 10, 10);
}

li:hover {
    background-color: aqua;
}

.strike {
    text-decoration: line-through;
}
